@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');
:root {
	--background: #2c86f5;
	--background-light: #97c2f7;
	--color-neutral: rgb(0, 0, 0);
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	height: 100%;
}

header {
	background: var(--background);
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
}

.content {
	height: 100%;
	background-attachment: fixed;
	padding-top: 80px;
	padding-left: 50px;
	padding-right: 50px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(10, 1fr);
	color: white;
}

.o-title{
	padding-top: 100px;
    text-align: center;
    color: var(--color-neutral);
    font-size: 28px;
  }

.o-text {
	font-size: 18px;
	color: white;
	font-weight: normal;
    padding-top: 18px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 20px;
}

.grid-container-rows {
	margin-top: 24px;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 100%;
	justify-content: center;
	justify-items: center;
  }

.o-button,
.o-button:visited{
	padding:8px;
	text-decoration: none;
	display: inline-block;
	border: 0.5px var(--background) solid;
	background: var(--color-white);
	color: var(--color-alpha);
	width: 40%;
	max-width: 1000px;
	margin:24px auto;
	margin-left: 40px;
	font-size: 20px;
	text-align: center;
	border-radius: 8px;
}

.o-button:active,
.o-button:hover{
	background-color: var(--background);
	color: var(--color-white);
}

.nav-toggle {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
	outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: var(--background);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

nav a:hover {
	color: #000;
}

.nav-toggle:checked~nav {
	transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
	body {
		overflow: hidden;
	}
	.nav-toggle-label {
		display: none;
	}
	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .content {
        height: 100%;
        padding-top: 10px;
        padding-left: 50px;
        padding-right: 50px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
        color: white;
	}
	
	.o-background-gradient{
		background: var(--background);
		background: linear-gradient(180deg, var(--background) 20%, var(--background-light) 100%);
		min-height: 100vh;
	}
	  
	.o-title{
		padding-top: 100px;
		text-align: center;
		color: var(--color-neutral);
		font-size: 28px;
		margin-bottom: 24px;
	}

	.logo {
		grid-column: 1 / 3;
	}

	.grid-container-colums {
		display: grid;
		grid-template-columns: 80% auto;
	}

	.grid-container-rows {
		display: grid;
		justify-content: space-evenly;
		grid-template-rows: repeat(4, 1fr);
	}

	.o-button,
    .o-button:visited{
      padding:8px;
      text-decoration: none;
      display: inline-block;
      border: 0.5px var(--background) solid;
      background: var(--color-white);
      color: var(--color-alpha);
      max-width: 200px;
      min-width: 100px;
      margin-bottom: auto;
      margin-right: 120px ;
      font-size: 24px;
      text-align: center;
      border-radius: 8px;
    }

    .o-button:active,
    .o-button:hover{
      background-color: var(--background);
      color: var(--color-white);
	}
	
	.microinteraction {
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;
	  }
	  .microinteraction div {
		position: absolute;
		border: 4px solid #fff;
		opacity: 1;
		border-radius: 50%;
		animation: microinteraction 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	  }
	  .microinteraction div:nth-child(2) {
		animation-delay: -0.5s;
	  }
	  @keyframes microinteraction {
		0% {
		  top: 36px;
		  left: 36px;
		  width: 0;
		  height: 0;
		  opacity: 1;
		}
		100% {
		  top: 0px;
		  left: 0px;
		  width: 72px;
		  height: 72px;
		  opacity: 0;
		}
	  }

	nav {
		all: unset;
		position: relative;
		text-align: left;
		transition: none;
		transform: scale(1, 1);
		background: none;
		top: initial;
		left: initial;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	nav ul {
		display: flex;
	}
	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}
	nav a {
		opacity: 1;
		position: relative;
	}
	nav a::before {
		content: '';
		display: block;
		height: 5px;
		background: black;
		position: absolute;
		bottom: -.75em;
		left: 0;
		right: 0;
        transform: scale(0, 1);
        transform-origin: left;
		transition: transform ease-in-out 250ms;
	}
	nav a:hover::before {
		transform: scale(1, 1);
	}
	.o-text {
		padding-top: 20px;
		padding-right: 70%;
        grid-column-start: 1;
        grid-column-end: 8;
    }
}