/*------------------------------------*\
  #FONTS
\*------------------------------------*/
@font-face {
    font-family: "Proxima Nova";
    font-weight: 200;
    src: url("fonts\ProximaNova-Thin.otf") format("otf")
  }
  
  @font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    src: url("fonts\ProximaNova-Regular.otf") format("otf")
  }
  
  @font-face {
    font-family: "Proxima Nova";
    font-weight: 600;
    src: url("fonts\ProximaNova-Bold.otf") format("otf")
  }
  
  @font-face {
    font-family: "Proxima Nova";
    font-weight: 700;
    src: url("fonts\ProximaNova-Extrabold.otf") format("otf")
  }
  
/*------------------------------------*\
#Variables
\*------------------------------------*/
:root {
  /* colors */
  --color-alpha: #458de6;
  --color-alpha-light: #99c3f7;
  --color-black: #000000;
  --color-white: #fff;
  --color-neutral: #7E7E7E;
  --color-neutral-light:rgb(247, 247, 247);
  
}

  /*------------------------------------*\
    #GENERIC
  \*------------------------------------*/
  html {
    /* background: black; */
    font-size: 16px;
    line-height: 1.5;
    font-family: "Proxima Nova", Helvetica, arial, sans-serif;
    color: var(--color-black);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }
  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }
  img {
    max-width: 100%;
    vertical-align: top;
  }
  
  /*
      Elements: typography
      ---
      Default markup for typographic elements
  */
  h1,
  h2,
  h3 {
    font-weight: 700;
  }
  
  h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
  }
  
  h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
  }
  
  h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
  }
  
  h4,
  h5,
  h6 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 24px;
  }
  
  p,
  ol,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  dl,
  table,
  address,
  figure {
    margin: 0 0 24px;
  }
  
  ul,
  ol {
    padding-left: 24px;
  }
  
  li ul,
  li ol {
    margin-bottom: 0;
  }
  
  li a {
    display: block;
    color: var(--color-white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: var(--color-neutral-light);
  }
  
  blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
  }
  
  blockquote * {
    font-size: inherit;
    line-height: inherit;
  }
  
  figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
  }
  
  a {
    color: white;
    transition: all .1s ease-in-out;
  }
  
  a:visited,
  a:active {
    color: var(--color-white);
  }
  
  a:hover,
  a:focus {
    color: var(--color-alpha);
  }
  
   /*------------------------------------*\
      #OBJECTS
    \*------------------------------------*/
    
  
    .o-headercolor{
      background-color:var(--color-alpha);
      color: var(--color-white);
    }
  
   .o-list{
     padding-top: 10px;
     padding-bottom: 8px;
   }
  
  .o-img{
    padding-left: 48px;
    padding-right: 36px;
    padding-bottom: 48px;
  }

  .o-background-gradient{
    background: var(--color-alpha);
    background: linear-gradient(180deg, var(--color-alpha) 20%, var(--color-alpha-light) 100%);
    min-height: 100vh;
  }
  
  .o-title{
    color: var(--color-white);
    font-size: 32px;
    font-weight:600;
  }
  
  .o-info{
    color: var(--color-white);
    font-size: 20px;
    font-weight: 400;
  }
  
  .o-thin-text{
    margin-top: 10%;
    color: var(--color-white);
    font-size: 24px;
    font-weight: 200; 
  }
  
  
  /*------------------------------------*\
    #COMPONENTS
  \*------------------------------------*/
    .c-nav_title {
      font-weight: 600;
      padding-left: 48px;
      font-size: 32px;
      padding-top: 12px;
      padding-bottom: 8px;
      color: var(--color-white);
  }
  
  .c-container-nav{
    display: flex;
  }
  
  .c-img{
    margin-right: 15%;
  }
  
  .c-inputbox{
    display: inline-block;
    height: 31px;
    background-color: var(--color-white);
    border: none;
    text-align: center;
    color: var(--color-alpha);
    padding: 0px 8px;
    margin-left: 2px;
  }
  
  .c-text_container{
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  /*------------------------------------*\
    #Link
  \*------------------------------------*/
  
  a.titlelink{
    text-decoration: none;
  }
  a.titlelink:hover{
    color: inherit;
  }
  

  input[type="email"]
  {
    padding: 4px;
      font-size:20px;
      height: 32px;
      width: 365px;
  }
  
  /*------------------------------------*\
    #Grid
  \*------------------------------------*/
  
  .grid-container-colums {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
  }
  
  .grid-container-colums-nm {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
  }
  
  .grid-container-rows {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows:auto 50%;
  }
  /*------------------------------------*\
    #Responsive
  \*------------------------------------*/
  
  @media screen and (max-width: 1200px) {
    div.grid-container-colums{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 20% 80%;
    }

    div.c-img{
      margin-top: 5%;
      margin-right: 15%;
      margin-left: 15%;
      margin-bottom: 15%;
    }

  }

  @media screen and (max-width: 1000px) {

    div.c-img{
      margin-top: 10%;
      margin-right: 15%;
      margin-left: 15%;
      margin-bottom: 15%;
    }

  }

  @media screen and (max-width: 756px) {

    div.c-img{
      margin-top: 15%;
      margin-right: 15%;
      margin-left: 15%;
      margin-bottom: 15%;
    }

    input[type="email"]
    {
        font-size:20px;
    }

    .c-inputbox{
      font-size: 16px;
    }
  }

  @media screen and (max-width: 680px) {
    div.o-title {
      font-size: 24px;
    }
    div.o-info{
      font-size: 16px;
    }
    div.o-thin-text{
      font-size: 16px;
    }
    input[type="email"]
  {
      font-size:16px;
      height: 24px;
      width: 228px;
  }
  
  .c-inputbox{
    height: 23px;
    font-size: 14px;
  }
  }
  
  
  @media screen and (max-width: 440px) {
    .o-list-item{
      font-size: 16px;
    }
  
    .c-nav_title {
      font-size: 24px;
      padding-top: 16px;
    }
  
    div.c-img{
      margin-top: 25%;
      margin-right: 15%;
      margin-left: 15%;
    }

    div.o-thin-text{
      font-size: 14px;
    }

    input[type="email"]
    {
        font-size:14px;
        height: 20px;
        width: 196px;
    }
      
    .c-inputbox{
      height: 19px;
      font-size: 12px;
    }
    div.c-img{
      margin-top: 30%;
      margin-right: 15%;
      margin-left: 15%;
    }
  }

  @media screen and (max-width: 340px) {

    input[type="email"]
    {
        font-size:14px;
        height: 20px;
        width: 216px;
        margin: 8px;
        margin-left: 0px;
    }
    .c-inputbox{
      height: 19px;
      padding: 0px;
      font-size: 12px;
      width: 216px;
      margin-left: 0px;
    }

    
    div.c-img{
      margin-top: 40%;
      margin-right: 15%;
      margin-left: 15%;
    }

  }