@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
    --background: rgba(185, 87, 42, 0.85);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html{
    height: 100%;
}

body {
	margin: 0;
	background: #222;
	font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    height: 100%;
}

.content {
  height: 100%;
  background-image: url('https://wallpapercave.com/wp/wp2461878.jpg');
  background-blend-mode: multiply;
  background-size: 210vh;
  background-color: rgb(114, 113, 113);
  padding-top: 80px;
  padding-left: 150px;
  padding-right: 50px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  grid-row-gap: 1em;
  justify-items: left;
  align-items: center;
}

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.o-title{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.c-img{
    text-align: center;
    justify-self: center;
}

.c-img img{
    max-width: 20vh;
  }

.o-text{
    font-size: 18px;
    color: white;
    font-weight: normal;
}

div.o-small-text{
    padding-bottom: 5px;
    font-size: 14px;
    color: white;
  }

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 1 / 3;
  }
  
  nav {
    all: unset;
    
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }

  .content {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-row-gap: 0em;grid-auto-columns: max-content(50%);
    justify-items: left;
    align-items: center;
  }

  .o-title{
    font-size: 32px;
    font-weight: bold;
    color: white;
    grid-column: 1/3;
}

.o-text{
    font-size: 24px;
    color: white;
    font-weight: normal;
    align-items: top;
}

.c-img{
    grid-column: 2/2;
    grid-row: 2/3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.c-img img{
    max-width: 30vh;
    vertical-align: top;
  }

div.o-small-text{
    padding-bottom: 10px;
    font-size: 18px;
    color: white;
  }

input[type="email"]
  {
    padding: 4px;
      font-size:20px;
      height: 32px;
      width: 365px;
  }

  .c-inputbox{
    display: inline-block;
    height: 31px;
    border: none;
    text-align: center;
    padding: 0px 8px;
    margin-left: 2px;
  }

.form-inline
{
    grid-column: 1/2;
    grid-row: 3/3;
}
}

